.about-me {
    background-color: rgb(96, 63, 163);
    margin: 0;
    padding: 19rem 5rem 5rem 5rem;
    box-sizing: border-box;
    height: 100dvh;
}

.about-me h1 {
    color: white;
    margin: 0;
    font-size: 2.7rem;
}

.about-me p {
    color: rgb(183, 168, 214);
    font-size: 1.2rem;
}