.about-me {
    background-color: rgb(96, 63, 163);
    margin: 0;
    padding: 8.5rem 5rem 5rem 5rem;
    box-sizing: border-box;
    height: 150dvh;
}

.about-me h1 {
    color: white;
    margin: 0;
}

.about-me p {
    color: rgb(183, 168, 214);
}