.button {
    background-color: rgb(96, 63, 163);
    border: 1px solid rgb(183, 168, 214);
    border-radius: 2.5rem;
    min-width: 10rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: white;
}