.contact {
    background-color: rgb(96, 63, 163);
    padding: 3rem;
    scroll-margin-top: 3.5rem;
}

.contact h3 {
    color: white;
    margin: 0;
    font-size: 1.7rem;
}

.contact h4 {
    color: white;
}

.contact p {
    color: rgb(183, 168, 214)
}

.contact a {
    color: rgb(183, 168, 214);
}

.contact-info {}