ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar {
    margin: 0;
}

.mainNavBar {
    margin: 0;
    border: 0;
    min-height: 3.5rem;
    background-color: RGB(50, 35, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

}

.mainNavBar ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainNavBar li {
    flex: 1;
    text-align: center;
}

.mainNavBar a {
    color: RGB(118, 108, 137);
    text-decoration: none;
}


.mainNavBar a:hover {
    color: rgb(163, 156, 176);
}

.mainNavBar a:active {
    color: white;
}

.main-nav-bar-selected {
    position: absolute;
    bottom: 0;
    /* top: 0; */
    left: 0;
    height: 4px;
    width: 25%;
    background-color: white;
    transition: left 0.3s ease-in-out;
    /* z-index: 1002; */
}

.main-nav-bar-selected--about-me {
    left: 0;
}

.main-nav-bar-selected--portfolio {
    left: 25%;
}

.main-nav-bar-selected--qualifications {
    left: 50%;
}

.main-nav-bar-selected--contact {
    left: 75%;
}